{% extends "main-web/base.html" %}

{% block content %}

    
        <div class=container>
            <h3 class="text-center">About Us</h3>
            <div class="about_benefits-header d-md-flex align-items-center justify-content-between">
                <h2 class=about_benefits-header_title data-aos=fade-up>The main benefits to choose Hosteller</h2>
                <p class=about_benefits-header_text data-aos=fade-up>Aliquam eleifend mi in nulla. Viverra nibh cras pulvinar mattis nunc</p>
            </div>
            <ul class="about_benefits-list d-md-flex">
                <li class=about_benefits-list_item><span class="countNum number h1 d-flex align-items-center" data-suffix=+ data-value=240>0</span>
                    <p class=number-label>Consequat interdum varius sit amet mattis vulputate enim nulla</p>
                </li>
                <li class=about_benefits-list_item><span class="countNum number h1 d-flex align-items-center" data-suffix=+ data-value=60>0</span>
                    <p class=number-label>Consequat interdum varius sit amet mattis vulputate enim nulla</p>
                </li>
                <li class=about_benefits-list_item><span class="countNum number h1 d-flex align-items-center" data-suffix=% data-value=98>0</span>
                    <p class=number-label>Consequat interdum varius sit amet mattis vulputate enim nulla</p>
                </li>
            </ul>
        </div>
    

{% endblock content %}