{% extends "main-web/base.html" %}
{% load static %}

{% block css %}
<link rel=stylesheet href="{% static 'css/rooms.min.css' %}" >
{% endblock css %}

{% block content %}
    <main class="rooms section">
        <div class="container">
            <ul class="rooms_list">
                {% for obj in houses %}
                <li class="rooms_list-item" data-order="{{ forloop.counter }}" data-aos="fade-up">
                    <div class="item-wrapper d-md-flex">
                        <div class="media">
                            {% if obj.images.first %}
                            <picture>
                                <source data-srcset="{{ obj.images.first.image.url }}" srcset="{{ obj.images.first.image.url }}">
                                <img class="lazy" data-src="{{ obj.images.first.image.url }}" src="{{ obj.images.first.image.url }}" alt="media">
                            </picture>
                            {% else %}
                            <img class="lazy" data-src="{% static 'img/placeholder.png' %}" src="{% static 'img/placeholder.png' %}" alt="No Image">
                            {% endif %}
                        </div>
                        <div class="main d-md-flex justify-content-between">
                            <div class="main_info d-md-flex flex-column justify-content-between">
                                <a class="main_title h4" href='#'>{{ obj.name }}</a>
                                <p class="main_description">{{ obj.description|slice:":100" }}{% if obj.description|length > 100 %}...{% endif %}</p>
                                <div class="main_amenities">
                                    <span class="main_amenities-item d-inline-flex align-items-center">
                                        <i class="icon-user icon"></i> {{ obj.capacity }} Sleeps
                                    </span>
                                    <span class="main_amenities-item d-inline-flex align-items-center">
                                        <i class="icon-bunk_bed icon"></i> {{ obj.capacity }} bunk bed
                                    </span>
                                </div>
                            </div>
                            <div class="main_pricing d-flex flex-column align-items-md-end justify-content-md-between">
                                <div class="wrapper d-flex flex-column">
                                    <span class="main_pricing-item">
                                        <span class="h2">${{ obj.price_per_night }}</span> / 1 night
                                    </span>
                                    <span class="main_pricing-item">
                                        <span class="h4">${{ obj.price_for_seven_nights }}</span> / 7 nights
                                    </span>
                                </div>
                                <a class="theme-element theme-element--accent btn" href="#">Book now</a>
                            </div>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>

            <!-- Pagination -->
            <ul class="pagination d-flex align-items-center justify-content-center">
                {% if houses.has_previous %}
                <li class="pagination-page">
                    <a class="pagination-page_link" href="?page=1">First</a>
                </li>
                <li class="pagination-page">
                    <a class="pagination-page_link" href="?page={{ houses.previous_page_number }}">Previous</a>
                </li>
                {% endif %}

                {% for num in houses.paginator.page_range %}
                    {% if houses.number == num %}
                    <li class="pagination-page">
                        <a class="pagination-page_link active" href="?page={{ num }}">{{ num }}</a>
                    </li>
                    {% else %}
                    <li class="pagination-page">
                        <a class="pagination-page_link" href="?page={{ num }}">{{ num }}</a>
                    </li>
                    {% endif %}
                {% endfor %}

                {% if houses.has_next %}
                <li class="pagination-page">
                    <a class="pagination-page_link" href="?page={{ houses.next_page_number }}">Next</a>
                </li>
                <li class="pagination-page">
                    <a class="pagination-page_link" href="?page={{ houses.paginator.num_pages }}">Last</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </main>
{% endblock content %}

{% block js %}{% endblock js %}
