{% extends "main-web/base.html" %}
{% load static %}


{% block css %}
<link rel=stylesheet href={% static "css/room.min.css" %} >
{% endblock css %}

{% block content %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=check_circle" />
<!-- Leaflet CSS -->
 <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
     integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
     crossorigin=""/>

 <!-- Make sure you put this AFTER Leaflet's CSS -->
 <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
     integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
     crossorigin=""></script>


<header class=page>
        <div class=container>
            <ul class="breadcrumbs d-flex flex-wrap align-content-center">

            </ul>
            <h1 class=page_title>{{ room.name }}</h1>
        </div>
    </header>
    <main>
        <div class="room section">
            <div class=container>
                <div class="room_main d-lg-flex flex-wrap align-items-start">
                    <div class="room_main-slider col-12 d-lg-flex">
				    <!-- Main Image Slider -->
				    <div class="room_main-slider_view col-lg-8">
				        <div class="swiper-wrapper">
				            {% for image in room.images.all %}
				                <div class="swiper-slide">
				                    <picture>
				                        <source data-srcset="{{ image.image.url }}" srcset="{{ image.image.url }}">
				                        <img class="lazy" data-src="{{ image.image.url }}" src="{{ image.image.url }}" alt="media">
				                    </picture>
				                </div>
				            {% empty %}
				                <p>No images available for this room.</p>
				            {% endfor %}
				        </div>
				        <div class="swiper-controls d-flex align-items-center justify-content-between">
				            <a class="swiper-button-prev d-inline-flex align-items-center justify-content-center" href="#">
				                <i class="icon-arrow_left icon"></i>
				            </a>
				            <a class="swiper-button-next d-inline-flex align-items-center justify-content-center" href="#">
				                <i class="icon-arrow_right icon"></i>
				            </a>
				        </div>
				    </div>
				
				    <!-- Thumbnails for Image Slider -->
				    <div class="room_main-slider_thumbs">
				        <div class="swiper-wrapper">
				            {% for image in room.images.all %}
				                <div class="swiper-slide">
				                    <picture>
				                        <source data-srcset="{{ image.image.url }}" srcset="{{ image.image.url }}">
				                        <img class="lazy" data-src="{{ image.image.url }}" src="{{ image.image.url }}" alt="media">
				                    </picture>
				                </div>
				            {% empty %}
				                <p>No images available for this room.</p>
				            {% endfor %}
				        </div>
				    </div>
				</div>
                    <div class="room_main-info col-lg-8">
                        <div class="amenities d-flex flex-wrap align-items-center">
                            <span class="amenities_item d-inline-flex align-items-center">
                                <i class="icon-user icon"></i> {{ room.capacity }} Sleeps 
                            </span>
                            
                            <span class="amenities_item d-inline-flex align-items-center">
                                <i class="icon-twin_bed icon"></i> {{ room.number_of_bed }} {{ room.type_of_bed }} Bed
                            </span>
                        </div>
                        <div class=description>
                            <p class=description_text>{{ room.description }}</p>

                        </div>

                        <section class="facilities">
                            <h4 class="facilities_header">Room Facilities</h4>
                            <div class="facilities_list d-sm-flex flex-wrap">
                                {% for facility in room.facilities.all %}
                                    <div class="facilities_list-block">
                                        <span class="facilities_list-block_item d-flex align-items-center">
                                            <!-- Use appropriate Material Icon for the facility -->
                                            <span class="material-symbols-outlined">check_circle</span> {{ facility.name }}
                                        </span>
                                    </div>
                                {% empty %}
                                    <p>No facilities available.</p>
                                {% endfor %}
                            </div>
                        </section>

                        <section class=rules>
                            <h4 class=rules_header>Hostel rules</h4>
                            <div class="rules_list d-md-flex flex-lg-wrap">
                                <div class=rules_list-block>
                                    <p class="rules_list-block_item d-flex align-items-baseline"><i class="icon-check icon"></i> Time of arrival is after 14-00. Time of departure is to 12-00</p>
                                    <p class="rules_list-block_item d-flex align-items-baseline"><i class="icon-check icon"></i> Does a settlement take place only at complete payment</p>
                                    <p class="rules_list-block_item d-flex align-items-baseline"><i class="icon-check icon"></i> Is there a settlement in hostel only after the presence of passport</p>
                                </div>
                                <div class=rules_list-block>
                                    <p class="rules_list-block_item d-flex align-items-baseline"><i class="icon-check icon"></i> Cum sociis natoque penatibus et. Sed elementum tempus egestas sed</p>
                                    <p class="rules_list-block_item rules_list-block_item--highlight d-flex align-items-start"><i class="icon-check icon"></i> Volutpat odio facilisis mauris sit amet massa vitae tortor condimentum. Quam elementum pulvinar etiam non quam lacus suspendisse. Eget gravida cum sociis natoque</p>
                                </div>
                            </div>
                        </section>

                        {% comment %} <div class=rating><span class=rating_summary><span class=h2>4.25</span> <sup class=h4>/5</sup></span>
                            <div class="rating_list d-flex flex-wrap">
                                <div class="rating_list-item d-sm-flex align-items-center justify-content-between" data-order=1><span class=label>Location</span> <span class=progressLine id=location data-value=4.7 data-fill=#0DA574></span></div>
                                <div class="rating_list-item d-sm-flex align-items-center justify-content-between" data-order=2><span class=label>Comfort</span> <span class=progressLine id=comfort data-value=4.5 data-fill=#0DA574></span></div>
                                <div class="rating_list-item d-sm-flex align-items-center justify-content-between" data-order=3><span class=label>Pricing</span> <span class=progressLine id=pricing data-value=4.9 data-fill=#0DA574></span></div>
                                <div class="rating_list-item d-sm-flex align-items-center justify-content-between" data-order=4><span class=label>Service</span> <span class=progressLine id=service data-value=4.8 data-fill=#0DA574></span></div>
                            </div>
                        </div> {% endcomment %}

                    </div>
                    <div class="room_main-cards col-lg-4">
                        
                        <div class=room_main-cards_card><span class=pricing><span class="pricing_price h2">${{ room.price_per_night }}</span> / 1 night</span>
                            <form class="booking" action={% url 'mainweb:payment-methods' 'room' room.id %} method="GET" autocomplete="off">
                                <div class="booking_group d-flex flex-column">
                                    <label class="booking_group-label h5" for="checkIn">Check-in</label>
                                    <div class="booking_group-wrapper">
                                        <i class="icon-calendar icon"></i>              
                                        <input class="booking_group-field field required" data-type="date" data-end="true" type="date" id="checkIn" name="checkIn" value="{{ checkin }}" required>
                                        
                                    </div>
                                </div>

                                <div class="booking_group d-flex flex-column">
                                    <label class="booking_group-label h5" for="checkOut">Check-out</label>
                                    <div class="booking_group-wrapper">
                                        <i class="icon-calendar icon"></i>
                                        <input class="booking_group-field field required" data-type="date" data-end="true" type="date" id="checkOut" name="checkOut" value="{{ checkout }}">
                                        
                                    </div>
                                </div>

                                {% if user.is_authenticated %}
                                    <button type="submit" class="booking_btn btn theme-element theme-element--accent">Reserve</button>
                                {% else %}
                                    <p class="mt-3" style="font-size: 14px;">
                                        Please <strong><a href="{% url 'users:login' %}?next={{ request.path }}">Login</a></strong> 
                                        or <strong><a href="{% url 'users:register' %}">Register</a></strong> for booking.
                                    </p>
                                {% endif %}

                                
                            </form>
                        </div>

                        {% comment %} <!--Map--> {% endcomment %}
                        <div class="room_main-cards_card accent" id="map1" style="height: 350px; width: 92%;">
                            
                        </div>
                    </div>
                </div>

                <!--Comment Section-->
                {% comment %} <section class="room_comments col-lg-8">
                    <h3 class=room_comments-header>Post comments</h3>
                    <ul class=room_comments-list>
                        <li class="list-item d-flex flex-column flex-sm-row align-items-start">
                            <div class=media>
                                <picture>
                                    <source data-srcset={% static "img/post/woman.jpg" %}  srcset={% static "img/post/woman.jpg" %}><img class=lazy data-src={% static "img/post/woman.jpg" %} src={% static "img/post/woman.jpg" %} alt=media></picture>
                            </div>
                            <div class=main>
                                <div class="main_info d-flex flex-column"><span class="name h4">Gloria Ellis</span> <span class=date>June 16, 2021</span></div>
                                <p class=text>Ac placerat vestibulum lectus mauris ultrices. Velit scelerisque in dictum non consectetur a. Eget nunc lobortis mattis aliquam faucibus purus in. Ultricies leo integer malesuada nunc.</p>
                            </div><a class=replyTrigger href=#><span class=icon-reply></span></a></li>
                    </ul>
                </section>
                <section class="review col-lg-8">
                    <h3 class=review_header>Leave comment</h3>
                    <form class="review_form contacts_form form d-sm-flex flex-wrap justify-content-between" action=# method=post data-type=reviewRoom>
                        <div class="review_rating d-flex flex-wrap">
                            <div class="review_rating-block d-sm-flex align-items-center justify-content-between" data-order=1><label class="label h6" for=locationStars>Location</label> <select class=star-rating id=locationStars><option value=5>Excellent</option><option value=4>Very Good</option><option value=3>Average</option><option value=2>Poor</option><option value=1>Terrible</option></select></div>
                            <div class="review_rating-block d-sm-flex align-items-center justify-content-between" data-order=2><label class="label h6" for=pricingStars>Pricing</label> <select class=star-rating id=pricingStars><option value=5>Excellent</option><option value=4>Very Good</option><option value=3>Average</option><option value=2>Poor</option><option value=1>Terrible</option></select></div>
                            <div class="review_rating-block d-sm-flex align-items-center justify-content-between" data-order=3><label class="label h6" for=comfortStars>Comfort</label> <select class=star-rating id=comfortStars><option value=5>Excellent</option><option value=4>Very Good</option><option value=3>Average</option><option value=2>Poor</option><option value=1>Terrible</option></select></div>
                            <div class="review_rating-block d-sm-flex align-items-center justify-content-between" data-order=4><label class="label h6" for=serviceStars>Service</label> <select class=star-rating id=serviceStars><option value=5>Excellent</option><option value=4>Very Good</option><option value=3>Average</option><option value=2>Poor</option><option value=1>Terrible</option></select></div>
                        </div>
                    <div class=field-wrapper><label class=label for=reviewRoomName><i class="icon-user icon"></i></label> <input class="field required" id=reviewRoomName type=text placeholder=Name></div>
                    <div class=field-wrapper><label class=label for=reviewRoomEmail><i class="icon-email icon"></i></label> <input class="field required" id=reviewRoomEmail type=text data-type=email placeholder=Email></div><textarea class="field textarea required" id=reviewRoomMessage placeholder=Message></textarea>        <button class="btn theme-element theme-element--accent" type=submit>Submit</button></form>
                </section> {% endcomment %}
        </div>
        </div>
        
    </main>

<script>
document.addEventListener("DOMContentLoaded", function () {
    var latitude = {{ property.latitude|default:0 }};  // Default: Bahria Town Karachi
    var longitude = {{ property.longitude|default:0 }};

    // Check if latitude and longitude are valid
    if (latitude === 0 || longitude === 0) {
        latitude = latitude;
        longitude = longitude;
    }

    var map = L.map('map1').setView([latitude, longitude], 5); // Set correct zoom

    // Load OpenStreetMap tiles
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    // Add marker for the house location
    L.marker([latitude, longitude]).addTo(map)
        .bindPopup("<b>{{ room.name }}</b><br>{{ property.address }}")
        .openPopup();
});
</script>

 <script>
    document.querySelector('form').addEventListener('submit', function(event) {
        event.stopImmediatePropagation(); // Prevent other scripts from stopping submission
        this.submit(); // Force submission
    });
</script>
{% endblock content %}


{% block js %}
<script src={% static "js/room.min.js" %}></script>
{% endblock js %}


