{% load static %}

<section class="hero section">
    <div class="container container--hero d-lg-flex align-items-center justify-content-between">
        <div class=hero_main>
            <h1 class=hero_main-title data-aos=fade-up>Hosteller — amazing hostel for the free spirited traveler
            </h1>
            <div class="hero_main-content d-flex"><span class=line data-aos=fade-up data-aos-delay=50></span>
                <p class=text data-aos=fade-up data-aos-delay=100>Egestas pretium aenean pharetra magna ac. Et
                    tortor consequat id porta nibh venenatis cras sed. Vel turpis nunc eget lorem dolor sed</p>
            </div>

        </div>
        <div class=hero_media data-aos=zoom-in>
            <picture>
                <source data-srcset={% static "img/index/hero.jpg" %} srcset={% static "img/index/hero.jpg"
                    %}><img class=lazy data-src={% static "img/index/hero.jpg" %} src={%
                    static "img/index/hero.jpg" %} alt=media>
            </picture>
        </div>
    </div>
</section>