{% load static %}

<section class="hero section">
    <div class="container container--hero d-lg-flex align-items-center justify-content-between">
        <div class="hero_main">
            <h1 class=hero_main-title data-aos=fade-up>Your Journey to Comfort Begins with Us
            </h1>
            <div class="hero_main-content d-flex">
                <span class="line" data-aos="fade-up" data-aos-delay="50"></span>
                <p class="text" data-aos="fade-up" data-aos-delay="100" style="text-align: justify;">
                    Our dedicated team tailors each guest's experience to their unique preferences, 
                    ensuring a seamless journey. Our properties offer a home-like ambiance, while our responsive support ensures comfort remains our 
                    top priority throughout your stay.
                </p>
            </div>

        </div>
        <div class="hero_media" data-aos=zoom-out>
            <picture>
                <source data-srcset={% static "img/index/hero.jpeg" %} srcset={% static "img/index/hero.jpeg"
                    %}><img class=lazy data-src={% static "img/index/hero.jpeg" %} src={%
                    static "img/index/hero.jpeg" %} alt=media style="padding-right: 350px;">
            </picture>
        </div>
    </div>
</section>