{% load static %}
<nav class=header_nav>
    <ul class=header_nav-list>
        <li class=header_nav-list_item><a class=nav-item href={% url "mainweb:index" %} data-page=home>Home</a></li>
        <li class=header_nav-list_item><a class=nav-item href={% url "mainweb:about" %} data-page=about>About</a></li>
        <li class=header_nav-list_item><a class=nav-item href=about.html data-page=services>Services</a></li>
        <li class=header_nav-list_item><a class=nav-item href=about.html data-page=gallery>Gallery</a></li>
        <li class="header_nav-list_item dropdown"><a class="nav-link dropdown-toggle d-inline-flex align-items-center"
                href=rooms.html data-bs-toggle=collapse data-bs-target=#roomMenu aria-expanded=false
                aria-controls=roomMenu data-page=rooms>Rooms <i class="icon-chevron_down--entypo icon"></i></a>
            <div class="dropdown-menu collapse" id=roomMenu>
                <ul class=dropdown-list>
                    <li class=list-item data-main=true><a class="dropdown-item nav-item" data-page=rooms
                            href=rooms.html>Rooms</a></li>
                    <li class=list-item><a class="dropdown-item nav-item" data-page=room href=room.html>Single rooms</a>
                    </li>
                    <li class=list-item><a class="dropdown-item nav-item" data-page=rooms href=room.html>Double
                            rooms</a></li>
                </ul>
            </div>
        </li>
        <li class="header_nav-list_item dropdown"><a class="nav-link dropdown-toggle d-inline-flex align-items-center"
                href=# data-bs-toggle=collapse data-bs-target=#pagesMenu aria-expanded=false
                aria-controls=pagesMenu>Pages <i class="icon-chevron_down--entypo icon"></i></a>
            <div class="dropdown-menu collapse" id=pagesMenu>
                <ul class=dropdown-list>
                    <li class=list-item><a class="dropdown-item nav-item" data-page=faq01 href=faq.html>FAQ V1</a></li>
                    <li class=list-item><a class="dropdown-item nav-item" data-page=faq02 href=faq2.html>FAQ V2</a></li>
                    <li class=list-item><a class="dropdown-item nav-item" data-page=error01 href=error.html>Error Page
                            V1</a></li>
                    <li class=list-item><a class="dropdown-item nav-item" data-page=error02 href=404.html>Error Page
                            V2</a></li>
                </ul>
            </div>
        </li>
        <li class=header_nav-list_item><a class=nav-item href=about.html data-page=about>Contact</a></li>
    </ul>
</nav>

