{% load static %}

<section class="rooms section--blockbg section--nopb">
    <div class=block></div>
    <div class=container>
        <div class="rooms_header d-sm-flex justify-content-between align-items-center">
            <h2 class=rooms_header-title data-aos=fade-right>Properties</h2>
            <div class=wrapper data-aos=fade-left><a class="btn theme-element theme-element--light"
                    href={% url "mainweb:room-list" %}>View all rooms</a></div>
        </div>
        <ul class="rooms_list d-md-flex flex-wrap">
            {% if room %}
            <li class="rooms_list-item col-md-6 col-xl-4" data-order=1 data-aos=fade-up>
                <div class="item-wrapper d-md-flex flex-column">
                    <div class=media>
                        <picture>                            
                            <img src="{{ room_image.image.url }}" alt="House Image">
                        </picture>
                        <span class="media_label media_label--pricing">
                            <span class="price h4">${{ room.price_per_night }}</span> / 1 night
                        </span>
                    </div>
                    <div class="main d-md-flex flex-column justify-content-between flex-grow-1"><a
                            class="main_title h4" href=room.html data-shave=true>{{room.name}}</a>
                        <div class=main_amenities><span
                                class="main_amenities-item d-inline-flex align-items-center"><i
                                    class="icon-user icon"></i> {{ room.capacity }} Sleeps </span><span
                                class="main_amenities-item d-inline-flex align-items-center"><i
                                    class="icon-bunk_bed icon"></i> {{ room.number_of_bed }} bunk bed</span>
                        </div>
                    </div>
                </div>
            </li>
            {% endif %}


            {% if house %}
            <li class="rooms_list-item col-md-6 col-xl-4" data-order=1 data-aos=fade-up>
                <div class="item-wrapper d-md-flex flex-column">
                    <div class=media>
                        <picture>                            
                            <img src="{{ house_image.image.url }}" alt="House Image">
                        </picture>
                        <span class="media_label media_label--pricing">
                            <span class="price h4">${{ house.price_per_night }}</span> / 1 night
                        </span>
                    </div>
                    <div class="main d-md-flex flex-column justify-content-between flex-grow-1"><a
                            class="main_title h4" href=room.html data-shave=true>{{house.name}}</a>
                        <div class=main_amenities>
                            <span
                                class="main_amenities-item d-inline-flex align-items-center"><i
                                <i class="icon-twin_bed icon"></i> {{ house.number_of_rooms }} Rooms
                            </span>

                            <span class="main_amenities-item d-inline-flex align-items-center">                                
                                <span class="amenities_item d-inline-flex align-items-center">
                                    {{ house.no_of_bathroom }} Bathrooms </span>
                            </span>
                        </div>
                    </div>
                </div>
            </li>
            {% endif %}

            <li class="rooms_list-item col-md-6 col-xl-4" data-order=3 data-aos=fade-up data-aos-delay=100>
                <div class="card accent">
                    <h3 class=title>Welcome to Our Cozy Room Rentals</h3>
                    <p class=text></p>
                    <div class=content>
                        <p class=text>Enjoy ample space to relax and unwind in our well-appointed rooms.</p>
                        <p class=text>Equipped with modern amenities to ensure a comfortable stay.</p>
                        <p class=text>Strategically located near major attractions and public transport links.</p>
                    </div><a class="btn theme-element theme-element--light" href={% url "mainweb:room-list" %}>Choose room</a>
                </div>
            </li>
        </ul>
    </div>
</section>